
@{
    ViewBag.Title = "My Resume";
    Layout = "~/Views/Shared/_LayoutResume.cshtml";
}

<section>
    <h2 class="section_title">About Me!</h2>
    <hr>
    <article>
        <h1>
            Sudhanada Biswas <br>
            <span>A Professional .NET Programmer</span>
        </h1>
        <div class="fix">
            <p class="para_2 fleft">
                Hi, I am Sudhananda Biswas a .Net programmer. My Area of expertise are C#, HTML, CSS, JAVASCRIPT, ASP .NET MVC4, MS SQL. My working tools are windows 10 professional, visual studio 2015 community, notepad++, Xampp, adobe Photoshop cs6. I am a hardworking and responsive person with good understanding skills. I also have ability to work on under pressure.
            </p>
            <p class="para_2 fright">
                Hi, I am Sudhananda Biswas, a .net (C#, Asp) programmer. I have good skills on C#, HTML5, CSS3, JavaScript, Asp.net & Windows Form Application Design & Development.
            </p>
        </div>
        <div class="fix">
            <table class="table para_2 fleft">
                <tr><th>Name</th> <td>Sudhanada Biswas</td></tr>
                <tr><th>Father's Name</th><td>Binoy Kumar Biswas</td></tr>
                <tr><th>Mother's Name</th><td>Late. Bina Pani Biswas</td></tr>
                <tr><th>Date of Birth</th> <td>28 Feb, 1996</td></tr>
                <tr><th>Gender</th><td>Male</td></tr>
                <tr><th>Marital Status</th><td>Single</td></tr>
                <tr><th>Religion</th><td>Sanatan(Hindu)</td></tr>
                <tr><th>Address</th> <td>Tantipara, Magura Sadar, Magura</td></tr>
                <tr><th>Nationality</th> <td>Bangladeshi</td></tr>
            </table>

            <table class="table para_2 fright">
                <tr><th>Linked IN</th><td><a href="http://bn.likedin.com/in/shbsovon">http://bn.likedin.com/in/shbsovon</a></td></tr>
                <tr><th>Pinterest</th><td><a href="http://www.pinterest.com/sudhanandabiswa">www.pinterest.com/sudhanandabiswa</a></td></tr>
                <tr><th>Youtube</th><td><a href="https://www.youtube.com/channel/UCBP2rR0sosu6UMciJTt9vFA">You-Tube Channel</a></td></tr>
                <tr><th>Twitter</th><td><a href="https://www.twitter.com/shbsovon">www.twitter.com/shbsovon</a></td></tr>
                @*<tr><th>Facebook</th><td><a href="https://www.facebook.com/sudhananda.biswas">www.fb.com/sudhananda.biswas</a></td></tr>*@
                <tr><th class="">Email</th> <td class="" title="Send Mail!"><a href="mailto:sudhanandabiswas@yahoo.com">sudhanandabiswas@yahoo.com</a></td></tr>
                <tr><th class="">Phone</th> <td class="" title="Call in Phone!"><a href="callto:+880 172 0000830">+880 172 0000830</a></td></tr>
                <tr><th class="">Skype</th> <td class="" title="Get on Skype!"><a href="skype:shbsovon" class="fa fa-skype">hbsovon</a></td></tr>
                <tr><th class="">Website</th> <td class="" title="Check My Site!"><a href="http://www.shbsovon.com">www.shbsovon.com</a></td></tr>
            </table>
        </div>
    </article>
</section>

<section>
    <h2 class="section_title">Professional Skills</h2>
    <hr>
    <article>
        <div class="design fix">
            <div class="progress_title fright">Design</div>
            <div class="progress fleft">
                <h4>Adobe Photoshop</h4> <div class="skills_progress_bar fix"><div class="skills_progress" style="width:40%"></div></div>
                <h4>Presentation</h4> <div class="skills_progress_bar fix"><div class="skills_progress" style="width:100%"></div></div>
                <h4>Report</h4> <div class="skills_progress_bar fix"><div class="skills_progress" style="width:30%"></div></div>
            </div>
        </div>

        <div class="coding fix">
            <div class="progress_title fright">Coding</div>
            <div class="progress fleft">
                <h4>Visual C#</h4> <div class="skills_progress_bar fix"><div class="skills_progress" style="width:90%"></div></div>
                <h4>ASP.NET MVC</h4> <div class="skills_progress_bar fix"><div class="skills_progress" style="width:80%"></div></div>
                <h4>html/css</h4> <div class="skills_progress_bar fix"><div class="skills_progress" style="width:99%"></div></div>
                <h4>C/C++</h4> <div class="skills_progress_bar fix"><div class="skills_progress" style="width:45%"></div></div>
            </div>
        </div>

        <div class="assets fix">
            <div class="progress_title fright">Assests</div>
            <div class="progress fleft">
                <h4>Responsive</h4> <div class="skills_progress_bar fix"><div class="skills_progress" style="width:60%"></div></div>
                <h4>Creative</h4> <div class="skills_progress_bar fix"><div class="skills_progress" style="width:50%"></div></div>
                <h4>Multitasking</h4> <div class="skills_progress_bar fix"><div class="skills_progress" style="width:10%"></div></div>
            </div>
        </div>
    </article>
</section>

<section>
    <h2 class="section_title">Work EXPERIENCE</h2>
    <hr>
    <article>
        <div class="edu-work fix">
            <h3>Jessore Polytechnic Institute</h3>
            <h5>Student <em>oct 2012 - present</em></h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet,</p>
        </div>

        <div class="edu-work fix">
            <h3>Engineer's IT</h3>
            <h5>Assistant Trainer & Programmer <em>oct 2013 - jun 2016</em></h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet,</p>
        </div>

        <div class="edu-work fix">
            <h3>Personal Job</h3>
            <h5>Professional Programmer <em>oct 2012 - present</em></h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet,</p>
        </div>
    </article>
</section>

<section>
    <h2 class="section_title">Education Qualification</h2>
    <hr>
    <article>
        <div class="edu-work fix">
            <h3>Jessore Polytechnic Institute, Jessore</h3>
            <h5>Diploma in Computer Engineering Technology <em>oct 2012 - present</em></h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet,</p>
        </div>
        <div class="edu-work fix">
            <h3>Magura Govt. High School, Magura</h3>
            <h5>Secondary School Certificate <em>jan 2010 - feb 2012</em></h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet,</p>
        </div>
        <div class="edu-work fix">
            <h3>Ramnagor Primary School, Ramnagor, Magura</h3>
            <h5>Primary Education <em> --/--/----</em></h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet,</p>
        </div>
    </article>
</section>

<section>
    <h2 class="section_title">Language Performance</h2>
    <hr>
    <article>
        <div class="lang fix fleft">
            <h4>Bangla</h4>
            <h6>Native</h6>
        </div>
        <div class="lang fix fleft">
            <h4>English</h4>
            <h6>Communicative</h6>
        </div>
        <div class="lang fix fleft">
            <h4>Hindi</h4>
            <h6>Understandable</h6>
        </div>
    </article>
</section>

<section>
    <h2 class="section_title">Interest/Hobby</h2>
    <hr>
    <article>
        <div class="hobby fix fleft">
            <h3><i class="fa fa-plane"></i><br> Travel</h3>
        </div>
        <div class="hobby fix fleft">
            <h3><i class="fa fa-gamepad"></i><br> Game</h3>
        </div>
        <div class="hobby fix fleft">
            <h3><i class="fa fa-camera-retro"></i><br> Camera</h3>
        </div>
        <div class="hobby fix fleft">
            <h3><i class="fa fa-trophy"></i><br> Trophy</h3>
        </div>
        <div class="hobby fix fleft">
            <h3><i class="fa fa-certificate"></i><br> Certificate</h3>
        </div>
        <div class="hobby fix fleft">
            <h3><i class="fa fa-graduation-cap"></i><br> Education</h3>
        </div>
        <div class="hobby fix fleft">
            <h3><i class="fa fa-newspaper-o"></i><br> News</h3>
        </div>
        <div class="hobby fix fleft">
            <h3><i class="fa fa-puzzle-piece"></i><br> Puzzle</h3>
        </div>
        <div class="hobby fix fleft">
            <h3><i class="fa fa-headphones"></i><br> Music</h3>
        </div>
        <div class="hobby fix fleft">
            <h3><i class="fa fa-film"></i><br> Movie</h3>
        </div>
    </article>
</section>

<section>
    <h2 class="section_title">Referance</h2>
    <hr>
    <article>
        <h6>None</h6>
    </article>
</section>
