
@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_LayoutResume.cshtml";
}

@section Meta{
    <link href="~/Content/CSS/nivo-lightbox.css" rel="stylesheet" />
    <link href="~/Content/CSS/portfolio.css" rel="stylesheet" />
    <link href="~/Content/CSS/default.css" rel="stylesheet" />
    <link href="~/Content/CSS/Default/default.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
}
@section JSContent{
    @*<script src="~/Scripts/nivo-lightbox/jquery.js"></script>*@
    <script src="~/Scripts/nivo-lightbox/nivo-lightbox.min.js"></script>
    <script src="~/Scripts/nivo-lightbox/custom.js"></script>
}

<section id="portfolio">
    <h2 class="section_title" >Desktop Application</h2>
    <hr>
    <article>
        <div class="portfolio-box fix fleft">
            <a href="~/Images/Portfolio/os-form-img (1).jpg" data-lightbox-gallery="web-gallery" class="nivo-lightbox-title" title="Personal Webtemplate (Resume)">
                <img src="~/Images/Portfolio/os-form-img (1).jpg" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="~/Images/Portfolio/os-form-img (1).png" data-lightbox-gallery="web-gallery" class="nivo-lightbox-title" title="Personal Webtemplate CV">
                <img src="~/Images/Portfolio/os-form-img (1).png" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="~/Images/Portfolio/os-form-img (2).jpg" data-lightbox-gallery="web-gallery" class="nivo-lightbox-title" title="Personal Webtemplate (Blog)">
                <img src="~/Images/Portfolio/os-form-img (2).jpg" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="~/Images/Portfolio/os-form-img (3).jpg" data-lightbox-gallery="web-gallery" class="nivo-lightbox-title" title="Personal Webtemplate (Contact Form)">
                <img src="~/Images/Portfolio/os-form-img (3).jpg" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="~/Images/Portfolio/os-form-img (4).jpg" data-lightbox-gallery="web-gallery" class="nivo-lightbox-title" title="Personal Webtemplate (Portfolio)">
                <img src="~/Images/Portfolio/os-form-img (4).jpg" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="~/Images/Portfolio/os-form-img (6).jpg" data-lightbox-gallery="web-gallery" class="nivo-lightbox-title" title="My First Completed Website">
                <img src="~/Images/Portfolio/os-form-img (6).jpg" alt="portfolio img">
            </a>
        </div>
    </article>
</section>
<section id="portfolio">
    <h2 class="section_title">Web Application</h2>
    <hr>
    <article>
        <div class="portfolio-box fix fleft">
            <a href="~/Images/Portfolio/web-img (1).jpg" data-lightbox-gallery="desktop-gallery" class="nivo-lightbox-title" title="Tic Tac Toe! Designed By Me">
                <img src="~/Images/Portfolio/web-img (1).jpg" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="~/Images/Portfolio/web-img (2).jpg" data-lightbox-gallery="desktop-gallery" class="nivo-lightbox-title" title="Windows Date/Age Calculator">
                <img src="~/Images/Portfolio/web-img (2).jpg" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="~/Images/Portfolio/web-img (3).jpg" data-lightbox-gallery="desktop-gallery" class="nivo-lightbox-title" title="Windows Calculator">
                <img src="~/Images/Portfolio/web-img (3).jpg" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="~/Images/Portfolio/web-img (4).jpg" data-lightbox-gallery="desktop-gallery" class="nivo-lightbox-title" title="Database Management System Using Access(DBMS)">
                <img src="~/Images/Portfolio/web-img (4).jpg" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="~/Images/Portfolio/os-form-img (5).jpg" data-lightbox-gallery="desktop-gallery" class="nivo-lightbox-title" title="Database Management System (Report)">
                <img src="~/Images/Portfolio/os-form-img (5).jpg" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="~/Images/Portfolio/web-img (6).jpg" data-lightbox-gallery="desktop-gallery" class="nivo-lightbox-title" title="Login Form Application">
                <img src="~/Images/Portfolio/web-img (6).jpg" alt="portfolio img">
            </a>
        </div>
    </article>
</section>
<section id="portfolio">
    <h2 class="section_title">Mobile Application</h2>
    <hr>
    <article>
        <div class="portfolio-box fix fleft">
            <a href="img/portfolio-img1.jpg" data-lightbox-gallery="mobile-gallery" class="nivo-lightbox-title" title="Sudhanada Biswas">
                <img src="img/portfolio-img1.jpg" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="img/portfolio-img2.jpg" data-lightbox-gallery="mobile-gallery" class="nivo-lightbox-title" title="h">
                <img src="img/portfolio-img2.jpg" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="img/portfolio-img3.jpg" data-lightbox-gallery="mobile-gallery" class="nivo-lightbox-title" title="">
                <img src="img/portfolio-img3.jpg" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="img/portfolio-img4.jpg" data-lightbox-gallery="mobile-gallery" class="nivo-lightbox-title" title="">
                <img src="img/portfolio-img4.jpg" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="img/portfolio-img5.jpg" data-lightbox-gallery="mobile-gallery" class="nivo-lightbox-title" title="">
                <img src="img/portfolio-img5.jpg" alt="portfolio img">
            </a>
        </div>
        <div class="portfolio-box fix fleft">
            <a href="img/portfolio-img6.jpg" lightbox-gallery="mobile-gallery" class="nivo-lightbox-title" title="My Resume">
                <img src="img/portfolio-img6.jpg" alt="portfolio img">
            </a>
        </div>
    </article>
</section>